*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: black;
    color: whitesmoke;
}
h1,ul,li{
    display: inline;
}
ul{
    margin: 20%;
    cursor: pointer;
}
li:hover{
    color: blue;
}
.input{
    padding: 15px;
    width: 60px;
}
.searchbar{
    padding: 15px;
    text-align: center;
}
.box{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    display: inline-block;
    width: 500px;
}