h5{
    color: brown;
}
h3{
    font: bold;
}
#para{
  
    width: 250px;
    color: blue;
}
body{
    background-image: url("symmetrical-clouds-covered-blue-sky_198523-5.avif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
table, td,th{
    border: 1px solid;
    text-align: center;
}
tr:hover{
    background-color: rgb(255, 68, 0);
}
